################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CivModBuddy/obj
/CivModBuddy/bin
/.vs/CivModBuddy/v15
